.parent {
  height: 100vh;
  width: 100vw;
  background: palevioletred;
}
.ch-1 {
  background: rgb(164, 90, 90);
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 1rem;
}
.ch-2 {
  background: green;
  height: 6rem;
  width: 6rem;
  position: relative;
  top: 1rem;
  left: 1rem;
}
