html {
  background-image: radial-gradient(
      circle 5px at top left,
      rgba(226, 226, 226, 0.1) 0%,
      rgba(226, 226, 226, 0.1) 50%,
      rgba(201, 201, 201, 0.1) 50%,
      rgba(201, 201, 201, 0.1) 30%,
      transparent 30%,
      transparent 50%
    ),
    linear-gradient(90deg, rgb(51, 51, 51), rgb(51, 51, 51));
  background-size: 11px 11px;
}

.parent {
  height: 100vh;
  width: 100vw;
  background: palevioletred;
}
.ch-1 {
  background: rgb(164, 90, 90);
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 1rem;
}
.ch-2 {
  background: green;
  height: 6rem;
  width: 6rem;
  position: relative;
  top: 1rem;
  left: 1rem;
}
.data{
  top: 1rem;
  left: 1rem;
}
